
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background: white;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    -webkit-box-shadow: 0px 5px 15px 5px #0000ff;
    box-shadow: 0px 5px 15px 5px #0000ff;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: blue;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease;
    border-bottom: white 4px solid;
}

.navbar .menu li a:hover {
    color: blue;
    border-bottom: blue 4px solid;
    transition: all 0.3s ease;
}

.menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home */

.home {
    display: flex;
    height: 100vh;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: blue;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: blue;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    border: 2px blue solid;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    background: none;
    color: blue;
}

section {
    padding: 100px 0;
}

.about,
.skills,
.experinece,
.education,
.projects,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 360px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: black;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/* about */

.about .title::after {
    content: "who am i";
}

.about .about-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content,
.projects .projects-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: blue;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: blue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: blue;
    background: none;
}

/* skills */

.skills .title::after {
    content: "what are my skills";
}

.card {
    width: calc(25% - 20px);
    background: blue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin: 5px;
    transition: all 0.5s ease;
}

.card:hover {
    background: white;
    color: blue;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
    box-shadow: 5px 5px 15px 5px blue;
}

.card .box,
.card .desc,
.card a {
    transition: all 0.3s ease;
}

.card:hover .box,
.card:hover .desc,
.card:hover a {
    transform: scale(1.05);
}

.card .desc {
    font-size: 13px;
    font-weight: 400;
}

.card i {
    font-size: 100px;
}

.card a {
    display: inline-block;
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.card a i {
    font-size: 15px;
}

.card .text {
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0 7px 0;
}

/* experinece */

.experience .title::after {
    content: "what are my experience";
}

.container {
    font-family: "Ubuntu", sans-serif;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.container .timeline ul {
    list-style: none;
}

.container .timeline ul li {
    border: blue 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.container .timeline ul li:last-child {
    margin-bottom: 0;
}

.container .timeline h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.container .timeline p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.container .timeline .date {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: blue;
}

/* eduaction */

.education .title::after {
    content: "what are my qalification";
}

/* projects */

.projects .title::after {
    content: "some of my works";
}

.projects .card {
    width: calc(25% - 20px);
    background: white;
    color: black;
    text-align: center;
    border: blue 2px solid;
    border-radius: 6px;
    padding: 20px 25px;
    margin: 5px;
    transition: all 0.5s ease;
}

.projects .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* contact */

.contact .title::after {
    content: "contact with me";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: blue;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: blue;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
}

.contact .right form .field input {
    height: 100%;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 15px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid blue;
    color: white;
    background: blue;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    background: none;
    color: blue;
    transition: all 0.3s ease;
}

/* footer */

footer {
    background: blue;
    color: white;
    padding: 10px 23px;
    align-items: center;
    text-align: center;
}

/* media query */
@media (max-width: 1240px) {
    .home .home-content {
        min-width: 640px;
    }

    .projects .card img {
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1104px) {
    .home .home-content {
        min-width: 640px;
    }

    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }

    .projects .card img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 10240px) {
    .home .home-content {
        min-width: 640px;
    }

    .max-width {
        padding: 0 50px;
    }

    .projects .card img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 984px) {
    .home .home-content {
        min-width: 560px;
    }

    .max-width {
        padding: 0 50px;
        max-width: 930px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        right: 0%;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 16px;
        padding: 10px 18px;
    }

    .about .about-content .column,
    .contact .contact-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .skills .skills-content .card {
        width: calc(33% - 10px);
        margin-bottom: 20px;
    }

    .projects .projects-content .card {
        width: calc(33% - 10px);
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .container .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: blue;
    }

    .container .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    .container .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .container .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    .container .timeline ul li::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background: blue;
        border-radius: 50%;
        top: 0;
    }

    .container .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -32px;
    }

    .container .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -32px;
    }

    .container .timeline ul li:hover::after {
        border: blue 3px solid;
        background: white;
        transition: all ease 0.3s;
    }
    .container .timeline .date {
        position: absolute;
        top: -40px;
    }
}

@media (max-width: 690px) {
    .home .home-content {
        min-width: 500px;
    }

    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 13px;
        padding: 9px 12px;
    }

    .skills .title::after {
        content: "my skills";
    }

    .skills .skills-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .experience .title::after {
        content: "my experience";
    }

    .education .title::after {
        content: "my qualification";
    }

    .projects .title::after {
        content: "my works";
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content {
        min-width: 300px;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
    }

    .skills .skills-content .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .projects .projects-content .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
